{% extends "volunteer/base.html" %}

{% block content %}
        <div class="container-fluid">
            <div class="row">
                {% if user.is_staff %}
                    <!-- Admin Dashboard -->
                    <div class="col-lg-6 mx-auto">
                        <div class="card mt-5">
                            <div class="card-body">
                                <h2 class="card-title text-center">Admin Dashboard</h2>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <th>Sender</th>
                                            <th>Message Content</th>
                                            <th>Timestamp</th>
                                            <th>Answered</th>
                                            <th>Actions</th>
                                        </thead>
                                        <tbody>
                                            <div id="messageContainer" class="scrollable-container">
                                                {% for message in messages %}
                                                    <tr>
                                                        <td>{{ message.sender.username }}</td>
                                                        <td>{{ message.content }}</td>
                                                        <td>{{ message.timestamp }}</td>
                                                        <td>{% if message.answered %} Yes {% else %} No {% endif %}</td>
                                                        <td>
                                                            {% if not message.answered %}
                                                                <a href="{% url 'admin_chat_room' message.sender %}"><button type="button">Odgovori</button></a>
                                                            {% elif message.answered %}
                                                                <a href="{% url 'admin_chat_room' message.sender %}"><button type="button">Pogledaj</button></a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </div>
                                        </tbody>
                                    </table>
                                    <a href="{% url 'home' %}"><button type="button">POVRATAK</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
{% endblock %}
