{% extends "volunteer/base.html" %}
{% block title %}Contact{% endblock title %}
{% block content %}

<body class="body-without-background">
    {% if request.user.is_staff %}
    <div class="col-lg-6 mx-auto mt-5">
    <!-- Admin Chat Room -->
    <h2 class="card-title text-center">Admin Chat</h2><br>
    <h2 class="card-title text-center">{{ user.username }}</h2><br><br>
        <div class="scrollable-container">
                <!--Display svih neodgovorenih poruka usera-->
                {% for message in messages %}
                <div class="message">
                    {% if message.sender == user %}
                    <span>{{ message.timestamp|date:'H:i, d.m.Y' }} {{ message.sender.username }} (User): <strong>{{ message.content }}</strong></span>
                    {% elif message.sender.is_staff %}
                    <span>{{ message.timestamp|date:'H:i, d.m.Y' }} {{ message.sender.username }} (Replay): <strong>{{ message.content }}</strong></span>
                    {% endif %}
                    <br>
                </div>
                {% endfor %}
            <!-- Form for reply to user messages -->
            <form method="post" action="{% url 'save_Message' %}" class="message-form">
                {% csrf_token %}
                
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write reply"
                    name="content" required></textarea>
                <button id="submitBtn" type="submit" class="button">Send</button>
            </form>
            
        </div>
        {% else %}
                <!-- Obavijest za korisnike koji nisu volonteri -->
                <div class="col-lg-6 mx-auto mt-5">
                    <p>Nemate pristup porukama.</p>
                </div>
        {% endif %}    
        </div>
    </div>
{% endblock %}