<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Volontirajmo zajedno</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'volunteer/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="{% if user.is_authenticated %}body-without-background{% endif %}">
    <div class="banner">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'volunteer/logo.jpg' %}" alt="Logo" class="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Naslovnica</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold text-success" href="{% url 'notifications' %}">Obavijesti</a>
                        </li>
                        <li class="nav-item">
                            {% if user.is_staff %}
                                <a class="nav-link" href="{% url 'admins_inbox' %}">Kontakt</a>
                            {% elif user.is_authenticated %}
                                <a class="nav-link" href="{% url 'chat_room' user.username %}">Kontakt</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="content mb-5 mt-5">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</body>
</html>