{% extends "volunteer/base.html" %}
{% block title %}Contact{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% if user.is_authenticated %}
            {% with status=volunteer_request.first %}
            {% if volunteer_request and status.is_approved == 'accepted' or 'denied' %}
            <!-- Volunteer Chat Box -->
            <div class="col-lg-6 mx-auto mt-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Volunteer Chat</h2><br>
                        <h2 class="card-title text-center">{{ user.username }}</h2><br><br>
                        <div class="scrollable-container">

                            {% for message in messages %}
                            <div class="message">
                                {% if message.sender == user %}
                                    <span>{{ message.timestamp|date:'H:i, d.m.Y' }} {{ message.sender.username }} (You):    <strong>{{ message.content }}</strong></span>
                                {% elif message.sender.is_staff %}
                                    <span>{{ message.timestamp|date:'H:i, d.m.Y' }} {{ message.sender.username }} (Replay):     <strong>{{ message.content }}</strong></span>
                                {% endif %}
                                <br>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Form for volunteers to send messages -->
                        <form method="post" action="{% url 'save_Message' %}" class="message-form">
                            {% csrf_token %}
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                placeholder="Write a message" name="content" required></textarea>
                            <span><button id="submitBtn" type="submit" class="button">SEND</button> <a href="{% url 'home' %}"><button type="button">POVRATAK</button></a></span>
                        </form>
                    </div>
                </div>
            </div>
            {% else %}
                <!-- Obavijest za korisnike koji nisu volonteri -->
                <div class="col-lg-6 mx-auto mt-5">
                    <p>Nemate pristup porukama.</p>
                </div>
            {% endif %}
            {% endwith %}
            {% endif %}
        </div>
    </div>
{% endblock %}
