{% extends "volunteer/base.html" %}

{% block content %}
    <div class="container-float">
        <div class="row">
          <div class="col-lg-6 mx-auto mt-5">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title text-center">Dashboard</h2>
                    <div class="table-responsive">
                    {% if volunteers %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Naziv volontera</th>
                                    <th>Izbor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for volunteer in volunteers %}
                                    <tr>
                                        <td>{{ volunteer.volunteer.username }}</td>
                                        <td>
                                            <a href="{% url 'dashboard_accept' job.id volunteer.volunteer.id %}"><button type="button" class="button">Prihvati</button></a>
                                            <a href="{% url 'dashboard_deny' job.id volunteer.volunteer.id %}"><button type="button" class="button">Odbij</button></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <a href="{% url 'dashboard' %}"><button type="button" class="button">POVRATAK</button></a>
                        <a href="{% url 'finish_job' job.id %}"><button type="button" class="button">ZAVRŠI AKCIJU</button></a>
                    {% elif job.completed %}
                        <h2 class="card-title text-center">Prijave su popunjene!</h2>
                        <a href="{% url 'dashboard' %}"><button type="button" class="button">POVRATAK</button></a>
                    {% else %}
                        <h2 class="card-title text-center">Nema prijava za ovu akciju!</h2>
                        <a href="{% url 'dashboard' %}"><button type="button" class="button">POVRATAK</button></a>
                        <a href="{% url 'finish_job' job.id %}"><button type="button" class="button">ZAVRŠI AKCIJU</button></a>
                    {% endif %}
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}
