{% extends "volunteer/base.html" %}
{% block title %}Dashboard{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 mx-auto mt-5">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title text-center">Dashboard</h2>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Naziv akcije</th>
                                    <th>Broj volontera</th>
                                    <th>Lokacija</th>
                                    <th>Prikaz</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for job in jobs %}
                                    <tr>
                                        <td>{{ job.title }}</td>
                                        <td>{{ job.numVolunteer }}/{{ job.reqVolunteer }}</td>
                                        <td>{{ job.location }}</td>
                                        <td><a href="{% url 'dashboard_detail' job.id %}"><button type="button" class="button">Pregled</button></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <a href="{% url 'home' %}"><button type="button" class="button">POVRATAK</button></a>
                        <a href="{% url 'volunteer_detail' %}"><button type="button" class="button">DODAJ VOLONTERA</button></a>
                    </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}
