{% extends "volunteer/base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        {% if not user.is_staff %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 mx-auto mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title text-center">Objavljeni poslovi</h2>
                                <div class="table-responsive">
                                    <form method="get" action="{% url 'home' %}" class="form-inline mb-2">
                                        <div class="form-group mx-sm-3 mb-2">
                                            <label for="dateFilter" class="sr-only">Datum:</label>
                                            <input type="date" class="form-control" id="dateFilter" name="dateFilter" placeholder="Datum">
                                        </div>
                                        <div class="form-group mx-sm-3 mb-2">
                                            <label for="locationFilter" class="sr-only">Lokacija:</label>
                                            <input type="text" class="form-control" id="locationFilter" name="locationFilter" placeholder="Lokacija">
                                        </div>
                                        <button type="submit" class="button">Filtriraj</button>
                                    </form>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Naziv akcije</th>
                                                <th>Broj volontera</th>
                                                <th>Lokacija</th>
                                                <th>Datum održavanja</th>
                                                {% with status=volunteer_request.first %}
                                                    {% if volunteer_request and status.is_approved == 'accepted' %}
                                                        <th>Prijavi se</th>
                                                    {% endif %}
                                                {% endwith %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for job in jobs %}
                                                <tr>
                                                    <td>{{ job.title }}</td>
                                                    <td>{{ job.numVolunteer }}/{{ job.reqVolunteer }}</td>
                                                    <td>{{ job.location }}</td>
                                                    <td>{{ job.date }}</td> 
                                                    
                                                    {% with status=volunteer_request.first %}
                                                        {% if volunteer_request and status.is_approved == 'accepted' %}
                                                            <td><a href="{% url 'apply_for_job' job.id %}"><button type="button">Prijavi se</button></a></td>
                                                        {% endif %}
                                                    {% endwith %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
            
        <!-- Prikazi gumb "Objavi akciju" samo ako je prijavljen admin -->
        {% if user.is_staff %}
            <div class="container mt-3">
                <a href="{% url 'publish_job' %}"><button type="button">OBJAVI AKCIJU</button></a>
                <a href="{% url 'dashboard' %}"><button type="button">DASHBOARD</button></a>
            </div>
        {% endif %}   
        
        <!-- Prikazi gumb "Odjavi se" za sve prijavljene korisnike -->
        <div class="container mt-3">
            <a href="{% url 'logout' %}"><button type="button">ODJAVI SE</button></a>
        </div>

    {% else %}
        <div class="container mt-5">
            <h1 class="text-center">VOLONTIRAJMO ZAJEDNO</h1>
            <p class="text-center">Uključi se u akciju te zajedničkim snagama učinimo svijet našim azilantima boljim mjestom!</p>
            <div class="text-center">
                <a href="{% url 'login' %}"><button type="button">PRIJAVI SE</button></a>
                <a href="{% url 'register' %}"><button type="button">REGISTRIRAJ SE</button></a>
            </div>
        </div>
    {% endif %}
{% endblock %}
