{% extends "volunteer/base.html" %}
{% block title %}Notifications{% endblock title %}
{% block content %}

<div class="container mt-5">
    <h2 class="text-center">Notifications</h2>
    {% if notifications %}
        <ul class="list-group">
            {% for notification in notifications %}
                <li class="list-group-item">{{ notification.content }}:  {{ notification.sent_to }}      {{ notification.timestamp|date:'H:i, d.m.Y' }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No notifications.</p>
    {% endif %}
</div>

{% endblock %}

