{% extends "volunteer/base.html" %}
{% block title %}Profil{% endblock title %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="container-float">
  <div class="row">
    <div class="col-lg-6 mx-auto mt-5">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Korisnički profil</h2>
          {% if user.is_authenticated %}
          
          <!-- Dodano uređivanje profila -->
          <div class="text-end mb-3">
              <button id="editProfileBtn" class="btn" style="background-color: white; border: 1px solid black" onclick="enableEditMode()">Edit</button>
              <button id="saveChangesBtn" class="btn" style="background-color: #b3b073; display: none;" onclick="saveChanges()">Save Changes</button>
          </div>
          {% else %}
          <p>Morate biti prijavljeni da biste vidjeli ovaj profil. <a href="{% url 'login' %}">Prijavite se</a></p>
          {% endif %}
          {% if user.is_authenticated %}
            {% if user.is_staff %}
              <p>Korisničko ime: <input type="text" id="username" value="{{ user.username }}" class="form-control" readonly></p>
              <p>E-mail adresa: <input type="text" id="email" value="{{ user.email }}" class="form-control" readonly></p>
              <p>Ime: <input type="text" id="name" value="{{ user.first_name }}" class="form-control" readonly></p>
              <p>Prezime: <input type="text" id="surname" value="{{ user.last_name }}" class="form-control" readonly></p>
            {% else %}
              <p>Korisničko ime: <input type="text" id="username" value="{{ user.username }}" class="form-control" readonly></p>
              <p>E-mail adresa: <input type="text" id="email" value="{{ user.email }}" class="form-control" readonly></p>
              <p>Ime: <input type="text" id="name" value="{{ user.first_name }}" class="form-control" {% if not user.is_staff %}readonly{% endif %}></p>
              <p>Prezime: <input type="text" id="surname" value="{{ user.last_name }}" class="form-control" {% if not user.is_staff %}readonly{% endif %}></p>
              {% if not user.is_staff %}
                {% with status=volunteer_request.first %}
                {% if volunteer_request and status.is_approved == 'accepted' %}
                  <div class="text-center">
                      <label for="prijavljeneAkcije">Popis prijavljenih radnih akcija:</label>
                      <button id="prijavljeneAkcijeBtn" class="btn" style="background-color: #b3b073" onclick="togglePrijavljeneAkcije()">Prikaži</button>
                  </div>
                  
                  <div style="margin-bottom: 10px;"></div>
                  
                  <div class="text-center">
                      <label for="dovrseneAkcije">Popis dovršenih radnih akcija:</label>
                      <button id="dovrseneAkcijeBtn" class="btn" style="background-color: #b3b073" onclick="toggleDovrseneAkcije()">Prikaži</button>
                  </div>
                  
                  <div class="mt-4" id="prijavljeneAkcije" style="display: none;">
                    <h3>Prijavljene radne akcije:</h3>
                    <ul>
                      {% for akcija in accepted_volunteering_jobs %}
                        <li>{{ akcija }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                  
                  <div class="mt-4" id="dovrseneAkcije" style="display: none;">
                    <h3>Dovršene radne akcije:</h3>
                    <ul>
                      {% for akcija in completed_volunteering_jobs %}
                        {% if akcija %}
                        <li>{{ akcija.title }}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                {% endif%}
                {% endwith %}
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

  <script>
    function togglePrijavljeneAkcije() {
      var prijavljeneAkcijeDiv = document.getElementById('prijavljeneAkcije');
      var prijavljeneAkcijeBtn = document.getElementById('prijavljeneAkcijeBtn');

      if (prijavljeneAkcijeDiv.style.display === 'none') {
        prijavljeneAkcijeDiv.style.display = 'block';
        prijavljeneAkcijeBtn.innerText = 'Sakrij';
      } else {
        prijavljeneAkcijeDiv.style.display = 'none';
        prijavljeneAkcijeBtn.innerText = 'Prikaži';
      }
    }

    function toggleDovrseneAkcije() {
      var dovrseneAkcijeDiv = document.getElementById('dovrseneAkcije');
      var dovrseneAkcijeBtn = document.getElementById('dovrseneAkcijeBtn');

      if (dovrseneAkcijeDiv.style.display === 'none') {
        dovrseneAkcijeDiv.style.display = 'block';
        dovrseneAkcijeBtn.innerText = 'Sakrij';
      } else {
        dovrseneAkcijeDiv.style.display = 'none';
        dovrseneAkcijeBtn.innerText = 'Prikaži';
      }
    }

    function enableEditMode() {
      document.getElementById('username').readOnly = false;
      document.getElementById('email').readOnly = false;
      document.getElementById('name').readOnly = false;
      document.getElementById('surname').readOnly = false;
      document.getElementById('editProfileBtn').style.display = 'none';
      document.getElementById('saveChangesBtn').style.display = 'block';
    }

    function saveChanges() {
        // Implementacija spremanja promjena
        alert('Changes saved successfully!');
        document.getElementById('username').readOnly = true;
        document.getElementById('email').readOnly = true;
        document.getElementById('name').readOnly = true;
        document.getElementById('surname').readOnly = true;
        document.getElementById('editProfileBtn').style.display = 'block';
        document.getElementById('saveChangesBtn').style.display = 'none';

        // Poslati podatke na view za spremanje promjena
        var name = document.getElementById('name').value;
        var surname = document.getElementById('surname').value;

        // AJAX poziv za spremanje promjena
        $.ajax({
            url: '{% url "save_changes" %}',
            method: 'POST',
            data: {'name': name, 'surname': surname, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function (data) {
                console.log('Changes saved on the server.');
            },
            error: function (error) {
                console.log('Error saving changes:', error);
            }
        });
    }
    </script>
{% endblock %}