{% extends "volunteer/base.html" %}
{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Objavi akciju</h2>
                <form id="publishJobForm" method="post" action="{% url 'publish_job' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.title.label_tag }}
                        {{ form.title }}
                    </div>
                    <div class="mb-3">
                        {{ form.description.label_tag }}
                        {{ form.description }}
                    </div>
                    <div class="mb-3">
                        {{ form.reqVolunteer.label_tag }}
                        {{ form.reqVolunteer }}
                    </div>
                    <div class="mb-3">
                        {{ form.location.label_tag }}
                        {{ form.location }}
                    </div>
                    <div class="mb-3">
                        {{ form.date.label_tag }}
                        {{ form.date }}
                    </div>
                    <button type="submit">OBJAVI</button>
                    <a href="{% url 'home' %}"><button type="button">POVRATAK</button></a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
