{% extends "volunteer/base.html" %}

{% block content %}
<body class="body-without-background">  
    <div class="container-float">
        <div class="row">
          <div class="col-lg-6 mx-auto">
            <div class="card mt-5">
              <div class="card-body">
                <h2 class="card-title text-center">Dodaj volontera</h2>
                    <div class="table-responsive">
                    {% if volunteers %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Naziv volontera</th>
                                    <th>Izbor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for volunteer in volunteers %}
                                    <tr>
                                        <td>{{ volunteer }}</td>
                                        <td>
                                            <a href="{% url 'volunteer_accept' volunteer.user_id %}"><button type="button">Prihvati</button></a>
                                            <a href="{% url 'volunteer_deny' volunteer.user_id %}"><button type="button">Odbij</button></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h2 class="card-title text-center">Nema prijavljenih volontera!</h2>
                        <a href="{% url 'dashboard' %}" class="btn btn-primary">Povratak</a>
                    {% endif %}
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>

{% endblock content %}
