* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.banner {
    min-height: 100px; /* Set your desired minimum height */
    width: 100%;
    background-image: url(pocetna.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}   

.body-without-background .banner {
    background-image: none; /* Uklonite pozadinu */
    height: 0;
}

.overlay {

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}

.navbar-brand a {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    position: relative;
    z-index: 1000; /* Postavite željeni z-index */
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;

}

.navbar ul li a {
    text-decoration: none;
    color: #080808;
    text-transform: uppercase;
    white-space: nowrap;
}

.navbar-nav li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #b3b073;
    transition: width 0.3s;
}

.navbar-nav li:hover::after {
    width: 100%;
}


.navbar ul {
    flex-direction: column;
    align-items: flex-start;
}

.navbar ul li {
    margin: 10px 0;
}

.navbar ul li a::after {
    bottom: 0;
}

.content{
    width: 100%;
    text-align: center;
    color: black;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #080808;
    background-color: #b3b073;
    color: #080808;
    cursor: pointer;
}


@media (max-width: 991px) {
    .navbar-brand {
      display: none;
    }
    .navbar {
        background-color: #fff; /* Set the background color of the dropdown menu to white */
    }
}

#buttonObjavi {
    background-color: #b3b073; /* Postavite željenu boju pozadine */
    border: none;
    color: #fff; /* Postavite željenu boju teksta */
}

#buttonObjavi:hover {
    background-color: #fff; /* Postavite željenu boju pozadine kad je gumb u stanju hover */
    border: 2px solid #b3b073;
    color: #b3b073; /* Postavite željenu boju teksta kad je gumb u stanju hover */
}
/* HOME JOB LIST */
.job-list {
    list-style-type: none;
    padding: 0;
    max-height: 400px; /* Adjust the maximum height as needed */
    overflow-y: auto;
}

.job-item {
    margin-bottom: 20px;
}

.job-box {
    border: 2px solid #3498db;
    border-radius: 10px;
    padding: 10px;
    background-color: #ecf0f1;
}

.job-title {
    font-size: 20px;
    font-weight: bold;
}

.job-description {
    font-size: 20px;
}

.job-volunteers {
    font-size: 20px;
}
/* HOME JOB LIST */