{% extends "volunteer/base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div style="text-align: center; margin-top: 50px;">
                {% if form.errors %}
                    <p class="text-danger">Your username and password didn't match. Please try again.</p>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                        <p class="text-danger">Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.</p>
                    {% else %}
                        <p class="text-danger">Please login to see this page.</p>
                    {% endif %}
                {% endif %}

                <form method="post" action="{% url 'login' %}" style="text-align: center;">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                    <div class="mb-3">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </div>
                    <div class="mb-3">
                        <button class="button" type="submit" value="Login">LOG IN</button>
                    </div>

                    <input type="hidden" name="next" value="{{ next }}">
                </form>

                {# Assumes you set up the password_reset view in your URLconf #}
                <p class="mt-3">
                    <a href="{% url 'password_reset' %}">Lost password?</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
