{% extends "volunteer/base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">
      <div class="col-lg-6">
          <div class="card">
              <div class="card-body">
                  <h2 class="card-title text-center">Register</h2>
                  {% if error_message %}
                      <p style="color: red;">{{ error_message }}</p>
                  {% endif %}
                  <form method="post" action="{% url 'register' %}" class="needs-validation" novalidate>
                      {% csrf_token %}
                      <div class="mb-3">
                          <label for="username">Username:</label>
                          <input type="text" class="form-control" id="username" name="username" required>
                      </div>

                      <div class="mb-3">
                          <label for="first_name">First name:</label>
                          <input type="text" class="form-control" id="first_name" name="first_name" required>
                      </div>

                      <div class="mb-3">
                          <label for="last_name">Last name:</label>
                          <input type="text" class="form-control" id="last_name" name="last_name" required>
                      </div>

                      <div class="mb-3">
                          <label for="email">E-mail:</label>
                          <input type="text" class="form-control" id="email" name="email" required>
                      </div>

                      <div class="mb-3">
                          <label for="password1">Password:</label>
                          <input type="password" class="form-control" id="password1" name="password1" required>
                      </div>

                      <div class="mb-3">
                          <label for="password2">Repeat password:</label>
                          <input type="password" class="form-control" id="password2" name="password2" required>
                      </div>

                      <div class="mb-3 form-check">
                          <div class="form-check">
                              <input type="checkbox" id="is_volunteer" name="is_volunteer">
                              <label class="form-check-label" for="is_volunteer">Sign up as volunteer</label>                         
                          </div>
                      </div>

                      <button type="submit" class="button">Register</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>


{% endblock content %}